<!-- Card -->
<div
  class="group flex flex-col h-full bg-white border border-gray-200 shadow-sm rounded-xl dark:bg-neutral-900 dark:border-neutral-700 dark:shadow-neutral-700/70">
  <div class="h-48 flex flex-col justify-center items-center bg-white rounded-t-xl">
    <div class="bg-white  rounded-t-xl">
      <img class="object-cover h-48 w-96 rounded-t-lg" [src]="recipe.image" alt="">
    </div>
  </div>
  <div class="p-4 md:p-6 min-h-16">
    <span class="block mb-1 text-xs font-semibold uppercase text-amber-500">
      {{recipe.category}}
    </span>
    <h3 class="text-xl font-semibold text-gray-800 dark:text-neutral-300 dark:hover:text-white">
      {{ recipe.name}}
    </h3>

  </div>
  <div
    class="mt-auto flex border-t border-gray-200 divide-x divide-gray-200 dark:border-neutral-700 dark:divide-neutral-700">
    <div (click)="viewRecipe()"
      class=" cursor-pointer w-full  py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-bold rounded-ee-xl rounded-es-xl  bg-white text-gray-800 shadow-sm hover:bg-gray-50 focus:outline-none focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-white dark:hover:bg-neutral-800 dark:focus:bg-neutral-800">
      View recipe
    </div>
  </div>
</div>
<!-- End Card -->
